@import "../../../scss/variable";
@import "../../../scss/mixins";

.createsignature {
  &-container {
    margin: auto;
    width: 80%;
    display: flex;
    @include respond(tab-port) {
      flex-direction: column;
      width: 90%;
    }
    &-editor {
      width: 48rem;
      height: 90%;
      background: #00c6f782;
      padding: 3rem;
      overflow-y: hidden;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        width: 7px;
      }

      &::-webkit-scrollbar-thumb {
        background: $secondry;
        cursor: pointer;
      }
      @include respond(tab-port) {
        width: 92%;
        height: 100%;
      }
    }
    &-view {
      width: 60%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background: #00c6f75d;
      &-container {
        width: 80%;
        margin: auto;
        @include respond(tab-port) {
          width: 90%;
        }
      }
      @include respond(tab-port) {
        width: 100%;
      }
    }
  }
}
